<div>
    <div class="tableContainer">
        <h5 style="margin: 0;padding: .5em 0;">SEARCH RESULT</h5>
        <p>By default seach data:(After Apply Filter Serach Data will be visible)</p>
        <div class="table-responsive">
            <table class="table">
                <thead>


                    <th *ngFor="let item of tableHeader; index as i">
                        <ng-container class="hedaerbg">
                            {{ item.label }}
                        </ng-container>
                    </th>
                </thead>
                <tbody>

                    <tr
                        *ngFor="let char of combinedCharacters | paginate: { itemsPerPage: itemsPerPage, currentPage: page, totalItems: totalCount };index as i ">
                        <td class="grayc">{{i+1}}</td>
                        <td class="grayc" (click)=" navigateToCharacter(char.id,char)"> {{char.name}}</td>
                        <td class="grayc"> {{char.spicesNames[0]}}</td>
                        <td class="grayc"> {{char.birthYear}}</td>

                    </tr>

            </table>
        </div>


        <div class="list">

            <pagination-controls (pageChange)="dataLimitChange($event)"></pagination-controls>
        </div>
    </div>