.info-container {
    width: 90%;
    margin: 2em auto;
    display: flex;
    justify-content: space-between;
}

.filter {
    // background: red;
    width: 25%;
    height: 65vh !important;
}

.router-container {
    height: 65vh;
    width: 73%;
    // margin: 2em 0;
}

.container-fluid {
    height: 100vh !important;
}