<div class="filter-container">

    <h2 style="margin: 0;padding: 0;">FILTERS</h2>
    <div *ngIf="isLoading" class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Movie Name
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <ul>
                <li *ngFor="let movie of newData"> <input type="checkbox" (change)="onChangeMovie(movie.movieName)" />
                    {{ movie.movieName }}</li>
            </ul>
        </div>

    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Species
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <ul>
                <li *ngFor="let spice of speciesList"> <input type="checkbox"
                        (change)="onChangeSpice(spice.spiceName)" />
                    {{ spice.spiceName }}</li>
            </ul>
        </div>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Vehicle
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <ul>
                <li *ngFor="let spice of vehicleList"> <input type="checkbox"
                        (change)="onChangeVehicleList(spice.vehicleName)" />
                    {{ spice.vehicleName }}</li>
            </ul>
        </div>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Star Ships
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <ul>
                <li *ngFor="let spice of starShipsList"> <input type="checkbox"
                        (change)="onChangeStarShipsList(spice.starShipName)" />
                    {{ spice.starShipName }}</li>
            </ul>
        </div>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Birth Year
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
           not implemented
        </div>
    </div>
    <div style=" margin: 2em 0;">
        <button type="button" (click)="applyFilter()" class="btn btn-outline-success">SEARCH</button>
    </div>
</div>